<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 从官方文档 入门 导入 和dtd 提示 -->
<configuration>
	<!-- 引入外部资源配置文件 -->
	<properties resource="db.properties" />
	<environments default="development">
		<environment id="development">
		<!-- 配置数据库链接 -->
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.username}" />
				<property name="password" value="${db.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="MyBatis_sessionFactoryMapper.xml" />
		<mapper resource="UserMapper.xml" />
	</mappers>

</configuration>